*{
    margin: 0;
    padding: 0;
}
div.main{
    background-color: #04091e;
    color: #777;
    font-size: 14px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
div.header{
    padding-left: 17rem;
    padding-top:10rem;
    width: 100%;
    height: 275px;
    border-bottom: .5px solid #777;
}
div.first-part{
    float: left;
    width: 17%;
}
div.first-part>h6{
    color: #fff;
    font-weight:600;
    font-size: 1rem;
    margin-bottom: 2rem;
}
div.first-part>p{
    width: 15rem;
}
div.second-part{
    float: left;
    width: 17%;
}
div.second-part>h6{
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 2rem;
}
div.second-part>ul{
    width: 15rem;
}
div.second-part>ul>li{
    display: block;
    width: 6rem;
    float: left;
    margin-bottom: 1rem;
}
div.second-part>ul>li>a{
    color: inherit;
}
div.second-part>ul>li>a:hover{
    color: #f3c300;
}
div.third-part{
    float: left;
    width: 17%;
}
div.third-part>h6{
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 2rem;
}
div.third-part>p{
    width: 16rem;
    margin-bottom: 3rem;
}
div.third-part>div.input-part>input{
    border: 1px solid #333;
    line-height: 30px;
    color: #999;
    background-color: transparent;
}
div.for-part{
    float: left;
    width: 17%;
}
div.for-part>h6{
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 2rem;
}
div.for-part>ul{
    width: 24rem;
}
div.for-part>ul>li{
    display: block;
    width: 5rem;
    float: left;
    margin-bottom: 1rem;
}
div.foter>div.part1{
    padding-left: 17rem;
    padding-top: 0.5rem;
}

