*{
    margin:0;
    padding:0;
}
#mainBody{
    width:100%;
    height:600px;
    background-image:url("../image/banner_bg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
#mainBody .bg{
    height: 600px;
    background: rgba(0,0,0,.5) 0/cover;
}

h1{
    font-size: 40px;
    font-weight: 500;
    color:#fff;
    text-align:center;
    padding-top: 60px;
}

#contain{
    height:456px;
    width:535px;
    background-color:rgba(10,10,10,.66);
    margin-top:14px;
    margin-left:35%;
    border:2px ridge rgba(238,238,238,0.13);
    padding:35px;
}
#c1{
    font-size:35px;
    text-align: left;
    color:#fff;
    margin-bottom:20px;
}
.c2{
    width:93.4%
margin-buttom:20px;
    padding:10px;
    background-color:transparent;
    border:none;
    font-size:15px;
    border-bottom: 1px solid rgba(238,238,238,0.41);
    text-decoration: none;
    color: #fff;
}
#c3{
    position: relative;
    border:#f0f8ff;
    font-size: 13px;
    color: #EEE;
}
#c4{
    width:41%;
    height:30px;
    font:400 16px Arial;
    background-color: transparent;
    color: #ccc;
    text-align: center;
    border:1px solid rgba(238,238,238,0.41);
    text-decoration: none;
    -webkit-transition:0.5s all;
}
#c5{
    text-decoration: none;
    text-align: center;
    color: #ccc;
}
.c7{
    font-size:16px;
    color: #ccc;
}
img{
    width:33px;
    background-color:rgba(0,0,0,0.3);
}